/* CSS Document */
#sitetitle {
	font-family: "Harlow Solid";
	position: absolute;
	color: goldenrod;
	font-size: 72px;
	z-index: 1;
	left: 100px;
    top: 0px;
}

#sitesubtitle {
	font-family: "Harlow Solid";
	color: white;
	position: absolute;
	z-index: 1;
	left: 650px;
    top: 260px;
	
}

header {
	text-align: center;
}

#imagegalaxy {
	position: relative;
	
}

article{
	position: relative;
	width: 100%;
	left: 280px;
	bottom: 600px;
}

p {
	font-size: 26px;
}



.title{
	font-size: 30px;
}

.transformations{
	position: relative;
	bottom: 600px;
	left: 280px;
}

footer{
	position: absolute;
}